extends layout

block content
  //h1= title
  .row
    .col-sm-6.col-md-4
      .thumbnail
        img(src='https://images-na.ssl-images-amazon.com/images/I/91cBBjTizmL.jpg' alt='...' class='img-responsive')
        .caption
          h3 Rich Dad Poor Dad
          p(class='prod_details') This is a book by Robert Kiyosaki
          p
            div.price.pull-right $44
            a.btn.btn-primary(href='#' role='button') Add to my Cart

    .col-sm-6.col-md-4
      .thumbnail
        img(src='https://images-na.ssl-images-amazon.com/images/I/91cBBjTizmL.jpg' alt='...' class='img-responsive')
        .caption
          h3 Rich Dad Poor Dad
          p(class='prod_details') This is a book by Robert Kiyosaki
          p
            div.price.pull-right $44
            a.btn.btn-primary(href='#' role='button') Add to my Cart

    .col-sm-6.col-md-4
      .thumbnail
        img(src='https://images-na.ssl-images-amazon.com/images/I/91cBBjTizmL.jpg' alt='...' class='img-responsive')
        .caption
          h3 Rich Dad Poor Dad
          p(class='prod_details') This is a book by Robert Kiyosaki
          p
            div.price.pull-right $44
            a.btn.btn-primary(href='#' role='button') Add to my Cart
          
  .row
    .col-sm-6.col-md-4
      .thumbnail
        img(src='https://images-na.ssl-images-amazon.com/images/I/91cBBjTizmL.jpg' alt='...' class='img-responsive')
        .caption
          h3 Rich Dad Poor Dad
          p(class='prod_details') This is a book by Robert Kiyosaki
          p
            div.price.pull-right $44
            a.btn.btn-primary(href='#' role='button') Add to my Cart

    .col-sm-6.col-md-4
      .thumbnail
        img(src='https://images-na.ssl-images-amazon.com/images/I/91cBBjTizmL.jpg' alt='...' class='img-responsive')
        .caption
          h3 Rich Dad Poor Dad
          p(class='prod_details') This is a book by Robert Kiyosaki
          p
            div.price.pull-right $44
            a.btn.btn-primary(href='#' role='button') Add to my Cart

    .col-sm-6.col-md-4
      .thumbnail
        img(src='https://images-na.ssl-images-amazon.com/images/I/91cBBjTizmL.jpg' alt='...' class='img-responsive')
        .caption
          h3 Rich Dad Poor Dad
          p(class='prod_details') This is a book by Robert Kiyosaki
          p
            div.price.pull-right $44
            a.btn.btn-primary(href='#' role='button') Add to my Cart
          
  .row
    .col-sm-6.col-md-4
      .thumbnail
        img(src='https://images-na.ssl-images-amazon.com/images/I/91cBBjTizmL.jpg' alt='...' class='img-responsive')
        .caption
          h3 Rich Dad Poor Dad
          p(class='prod_details') This is a book by Robert Kiyosaki
          p
            div.price.pull-right $44
            a.btn.btn-primary(href='#' role='button') Add to my Cart

    .col-sm-6.col-md-4
      .thumbnail
        img(src='https://images-na.ssl-images-amazon.com/images/I/91cBBjTizmL.jpg' alt='...' class='img-responsive')
        .caption
          h3 Rich Dad Poor Dad
          p(class='prod_details') This is a book by Robert Kiyosaki
          p
            div.price.pull-right $44
            a.btn.btn-primary(href='#' role='button') Add to my Cart

    .col-sm-6.col-md-4
      .thumbnail
        img(src='https://images-na.ssl-images-amazon.com/images/I/91cBBjTizmL.jpg' alt='...' class='img-responsive')
        .caption
          h3 Rich Dad Poor Dad
          p(class='prod_details') This is a book by Robert Kiyosaki
          p
            div.price.pull-right $44
            a.btn.btn-primary(href='#' role='button') Add to my Cart
          