extends layout

block content
  //h1= title
  .row
  .col-sm-6.col-md-4
    .thumbnail
      img(src='https://images-na.ssl-images-amazon.com/images/I/91cBBjTizmL.jpg' alt='...' class='img-responsive')
      .caption
        h3 Thumbnail label
        p ...
        p
          a.btn.btn-primary(href='#' role='button') Button
          a.btn.btn-default(href='#' role='button') Button
